.home {
  height: 100vh;
  position: relative;
}
.home_helf {
  height: 50vh;
}
.calculator_mobile {
  height: 50%;
  width: 100%;
  background: linear-gradient(180deg, #84baff, #0b0e1c);
  position: fixed;
  bottom: 0;
  overflow: scroll;
  color: #ffffff;
  font-size: 2rem;
  .wrapper {
    width: 380px;
    margin: 0px auto;
  }
  .row {
    margin-left: 0px;
    margin-right: 0px;
    .row_flex {
      width: 380px;
      display: flex;
      justify-content: center;
    }
  }
  .total {
    width: 380px;
    font-size: 5rem;
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    // text-align: right;
  }

  .circle {
    width: 80px;
    height: 80px;
    color: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 5px;
  }
  .ellipse {
    width: 160px;
    height: 80px;
    color: #ffffff;
    border-radius: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 35px;
    margin: 0px 10px;
  }
}
.num {
  background-color: #333333;
}
.num:hover {
  background-color: #595959;
}
.symbol_blue {
  background-color: #3091fd;
}
.symbol_blue:hover {
  background-color: #5faaff;
}
.symbol_grey {
  background-color: #afafaf;
  color: #333333;
}
.symbol_grey:hover {
  background-color: #cdcdcd;
}
.calculator_computer {
  height: 600px;
  width: 480px;
  background: linear-gradient(180deg, #84baff, #0b0e1c);
  color: #ffffff;
  font-size: 2rem;
  margin: 0px auto;
  // position: fixed;
  border-radius: 40px;
  @media (max-width: 768px) {
    width: 360px;
    font-size: 1.6rem;
  }

  .circle {
    width: 80px;
    height: 80px;
    color: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 5px;
    @media (max-width: 768px) {
      width: 60px;
      height: 60px;
    }
  }
  .ellipse {
    width: 160px;
    height: 80px;
    color: #ffffff;
    border-radius: 50px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 35px;
    margin: 0px 10px;
    @media (max-width: 768px) {
      width: 120px;
      height: 60px;
      padding-left: 18px;
    }
  }
  .wrapper {
    width: 380px;
    margin: 0px auto;
  }
  .row {
    margin-left: 0px;
    margin-right: 0px;
    .row_flex {
      width: 380px;
      display: flex;
      justify-content: center;
    }
    .total {
      width: 380px;
      font-size: 5rem;
      display: flex;
      justify-content: flex-end;
      padding-right: 30px;
      // text-align: right;
      @media (max-width: 768px) {
        font-size: 4rem;
        padding-right: 60px;
      }
    }
  }
}
